body {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.card {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
}

button {
  margin: 5px;
  padding: 10px;
  width: 100%;
}
