* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #2b0040, #050008);
  color: #fff;
}

a {
  color: gold;
  text-decoration: none;
}
